body {
  font-family: 'Cinzel', serif;
  font-weight: 800;
  background: url("/././resources/images/background.png");
  color:  #005252;
}

h1, h2, h3 {
    color: #0D184F;
}

.selected {
  color: #0D184F;
}

p {
  margin-left: 35px;
  font-size: 16px;
}

label {
  font-size: 20px;
}

.fuckin-barrel {
  height: 100px;
}

.left {
  float: left;
}

#overwrite {
  border-radius: 15px;
  margin-bottom: 25px;
  height: 100px;
  width: 150px;
  color: white;
  background-color: green;
  font-size: 18px;
}


input {
  margin: 10px;
}

#adjust {
  margin-top: 9px;
  background-color: green;
}

#soccer-kablooie, #skull {
  height: 100px;
  width: 150px;
  border-radius: 15px;
  margin-bottom: 9px;
}
.right {
  float: right;
}
