body {
  font-family: 'Cinzel', serif;
  font-weight: 800;
  background: url("/././resources/images/background.png");
  color:  #0D184F;
}

.container-large {
  align-items: center;
}

p {
  text-align: left;
  margin-left: 35px;
  font-size: 16px;
}

label {
  font-size: 30px;
}

.fuckin-barrel {
  height: 100px;
  margin-left: 25px;
}

.left {
  margin-left: 0;
}

.container-large {
  max-width: 100%;
}
#overwrite {
  border-radius: 15px;
  margin-bottom: 25px;
  height: 100px;
  width: 150px;
  color: white;
  background-color: #008a00;
  font-size: 18px;
}

#overwrite:hover {
  background-color: rgba(0, 138, 0, .8);
}

#replace {
  border-radius: 15px;
  margin-left: 11px;
  margin-bottom: 10px;
  background-color: green;
  width: 190px;
  color: white;
}

.beer {
  float:left;
  height: 100px;
}

input {
  margin: 10px;
}

#adjust {
  margin-top: 9px;
  background-color: rgb(0, 138, 0);
}

#adjust:hover {
  background-color: rgba(0, 138, 0, .8);
}

#soccer-kablooie, #skull {
  height: 100px;
  width: 150px;
  border-radius: 15px;
  margin-bottom: 9px;
}
.right {
  float: right;
}

.navbar-default {
  background: rgba(253, 227, 167, .5);
  border-color: #22313F;
  align-items: center;
  text-align: center;
}

.button-nav {
  background-color: #4E342E;
  color: rgb(253, 227, 167);
  border-radius: 15px;
  font-size: 25px;
  height: 100px;
  width: 200px;
  margin: 20px;
}

.button-nav-middle:hover {
  background-color: rgba(36, 19, 11, .8);
}

.button-nav:hover {
  background: rgba(78, 52, 46, .8);
}

.button-nav-middle {
  background-color: #24130B;
  color: rgb(253, 227, 167);
  border-radius: 15px;
  font-size: 40px;
  height: 120px;
  width: 300px;
  margin: 20px;

}
